@import "~styles/colors";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);

#buttons {
    // position: fixed;
    // background: @base6;
    // background: url(~img/grapefruit.png);
    // border: 1px solid @base2-light;
    border-top: none;
    border-bottom: none !important;
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
    // background-color: @base1;
    // border-radius: 3px 3px 0 0;
}
.input-form-title {
    // margin-top: .2rem;
    // padding-left: 2.0rem;
    overflow-x: visible;
    position: relative;
    left: .2rem;
    top: -.45rem;
    padding-bottom: 1.5rem;

    min-width: 8rem;
    display: block;
}

#caption {
    width: 8rem;
}

#caption, #input-title {
    font-family: 'Roboto', sans-serif;
    // text-transform: uppercase;
    letter-spacing: 1.2px;

    display: inline-block;

    padding: 0rem .0rem;
    // max-width: 14rem;
    // border: 1px solid #000;
    border-bottom: 1px dotted @base2 !important;
    // for the correct height of the underline
    height: 2.3rem;
}

#input-title {
    background: transparent;
    margin: auto;

    margin-top: 1.3rem;
    height: 23px;
    // text-align: center;
    padding: 0;
    margin-left: 0;
}

.button-unstyled.delete-all {
    color: @base2;
    position: relative;
    padding: .5rem .7rem;
    // border: 1px solid @base2-light;
    border: 1px solid @base2;
    text-decoration: none;
    border-radius: 2px;
    // left: -.2rem;
    top: .3rem;
    // box-shadow:         2px 2px 5px 5px @base3;
    // font-family: "Roboto Slab";
    font-size: 80%;
}


.button-unstyled.delete-all:active {
    // border: 1px solid @base2;
    border: 1px solid rgba(142, 40, 0, .2);;
    // background: rgba(142, 40, 0, .2);
}
