@import "~styles/colors";

.checkbox-animated {
  position: relative;
  top: -0.13rem;
  left: -0.775rem;
  margin: 0 1rem 0 1;
  margin-right: 20px;
  cursor: pointer;
}


.checkbox-animated:before {
  transition: all 0.23s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid @base3;
}


.checkbox-animated:checked:before {
  transform: rotate(-45deg);
  height: .4rem;
  width: 0.8rem;
  left: .12rem;
  top: 0.2rem;
  border-color: @base2;
  border-top-style: none;
  border-right-style: none;
    text-decoration: line-through;
}

.checkbox-animated:checked:after {
  content: "";
  position: absolute;
  // top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 2px solid @base2;
  background: @base1;
  cursor: pointer;
}


.checkbox-animated:after {
  content: "";
  position: absolute;
  // top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: @base1;
  cursor: pointer;
}


