@import url(http://fonts.googleapis.com/css?family=Oswald);
@import "~styles/colors";

header {
    // width: 70%;
    margin: 0 auto;

    position: relative;
    // left: -1rem;
    padding-top: 0px;
    font-family: 'Oswald';

    // color: @base6;
    // background-color: @base3-light;
    border-bottom: 2px dotted #AFABA8;
    // margin-bottom: 5rem;
}
