@import "~styles/colors";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Lato);

.hidden{
    visibility: hidden;
}

Input[type='text'] {
    border: 0 !important;
    // background-color: transparent;
    // border: 2px dotted #000 !important;
    // border: 2px #000;
    outline: 0;
    width: 15.8rem;
    margin-top: 1rem;
    padding-left: 0;
    border-bottom: 1px dotted @base2 !important;
    margin-bottom: 2em;
    background: @base1;
    color: @base3;
    font-family: "Roboto Slab";
    font-weight: 300;
}



form {
    // margin-top: .2rem;
    // padding-left: 2.0rem;
    overflow-x: visible;
    position: relative;
    left: .8rem;
    top: -.5rem;
    padding-bottom: 1.5rem;

    display: block;
}

::-webkit-input-placeholder {
   color: @base4;
}

:-moz-placeholder { /* Firefox 18- */
   color: @base4;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @base4;
}

:-ms-input-placeholder {
   color: @base4;
}

#li-input {
    border-left: none;
    padding-bottom: 1rem;
    // background: rgba(0,0,0,.1);
    border-right: none;
}
