@import "~styles/colors";

.items {
    list-style-type: none; padding: 0;
    position: relative;
    // overflow-y: auto;
    overflow-x: hidden;
    width: 93%;
    margin: 0 auto;
    margin-top: .1rem;
    margin-bottom: 1rem;
}

.items li {
    height: 50px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    // margin-right: 0;
    line-height: 50px;
    // margin-left: 2rem;
    position: absolute; top: 0; left: 0;
    transition: all .2s ease-out;
    // border-left: 1px solid @base2-light;
    // border-right: 1px solid @base2-light;
}

ul {
    margin-top: 0;
    list-style-type: none;
    position: relative;
}
ul li {
    padding-bottom: 1.5rem;
    border-top: 1px dotted #ccc;
    // border-left: 1px dotted @base2;
    // border-right: 1px dotted @base2;
    // box-shadow:         3px 0px 2px 2px #000;
    // margin-bottom: 1.5rem;
}

li:last-child {
    padding-bottom: 0rem;
}



.delete-icon:active {
    fill: @base3 ;
}

label.item {
    position: relative;
    right: -2rem;
}

label.item-done {
    text-decoration: line-through;
    color: @base4;
}

li.category-start {
    border-top: 1px double #ccc;
}

