@import "~styles/colors";

#list-header {
    border-top: none;
    border-bottom: 1px solid @base2-light2;
    border-radius: 0px;
    text-align: center;
}

#list-header.active {
    background: @base7-light3;
}


.input-form-title {
    overflow-x: visible;
    position: relative;
    top: -.45rem;
    display: inline-block;
    left: .2rem;

    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    display: inline-block;


    min-width: 8rem;
}




.meta {
    padding-left: 0.2em;
    position: absolute;
    font-family:  sans-serif;
    font-size: 85%;
    font-weight: 400;
    background-color: @base7-light2;
    width: 2.5rem;
    height: 1.8rem;
    border-radius: 5px;
    line-height: 1.8rem;

    text-align: center;
    color: @base3-light;
    top: .65rem;
    left: 18.2rem;
    padding-right: .3rem;
}

.counter {
    position: absolute;
    border: none;
    right: 1rem;
    font-family: 'Roboto', sans-serif;
    color: @base2;
    font-size: 130%;
}


.input-form-meta {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto Slab', sans-serif;
    display: inline-block;
}


#input-meta {
    background: transparent;
    margin: auto;
    width: 1.5rem;
    height: 23px;
    padding: 0;
    margin-left: 0;
}

#caption, #input-title {
    font-family: 'Roboto Slab', sans-serif;
    display: inline-block;

    padding: 0rem .0rem;
}

#input-title {
    background: transparent;
    margin: auto;

    margin-top: 1.3rem;
    height: 25px;

    padding: 0;
    margin-left: 0;
    border-bottom: 1px dotted @base2-trans;
}


.button-unstyled.delete-all {
    color: @base2;
    position: relative;
    padding: .5rem .7rem;
    border: 1px solid @base2;
    text-decoration: none;
    border-radius: 2px;
    top: .3rem;
    font-size: 80%;
}


.button-unstyled.delete-all:active {
    border: 1px solid rgba(142, 40, 0, .2);;
}
