.slidein-enter {
    position: relative;
    left: -25rem;
    transition: transform .4s ease-out;
}

.slidein-enter.slidein-enter-active {
    transform: translate3d(25rem, 0,0);
}

.slidein-leave {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.slidein-leave.slidein-leave-active {
    opacity: 0;
}
