.slidein-enter {
    position: relative;
    bottom: -25rem;
    transition: bottom .8s ease-in;
}

.slidein-enter.slidein-enter-active {
    bottom: 0;
}

.slidein-leave {
    opacity: 1;
    transition: opacity .3s ease-out;
}

.slidein-leave.slidein-leave-active {
    opacity: 0.01;
}
