@import "~styles/colors";

.svg {
    fill: @base3-light ;
    background-color: transparent;
    display: inline-block;
    border: none;
}

.svg:active {
    fill: @base3;
}

.delete-icon {
    padding-left: 0.2em;
    position: relative;
    top: -4.6rem;
    left: -.8rem;
    padding-right: .3rem;
}
.delete-icon.recent {
    padding-left: 0.2em;
    position: relative;
    top: -5.9rem;
    left: -.8rem;
    padding-right: .3rem;
}

.doneall-icon {
    position: relative;
    top: 0.3rem;
    left: 1.1rem;
    padding-right: .3rem;
    fill: @base2;
}

.save-icon.deactivated {
    visibility: hidden;
    // fill: @base2-light;
}

.plus-icon {
    padding-left: 0.2em;
    position: relative;
    top: 0.4rem;
    padding-right: .3rem;
}

.plus-icon.recipe {
    padding-left: 0.2em;
    position: relative;
    top: 0.3rem;
    left: -1.2rem;
    // padding-right: .3rem;
    fill: @base3 ;
}

.header-left-icon {
    position: absolute;
    top: .4rem;
    left: .8rem;
    margin: 0 1rem 0 1;
    margin-right: 20px;
}

.header-right-icon {
    padding-left: 0.2em;
    position: absolute;
    top: 0.4rem;
    left: 18.8rem;
    padding-right: .3rem;
}

.cancel-icon {
    fill: @base2 ;
    cursor: pointer;
    // position: relative;
    // left: -.8rem;

}

.add-icon {
    left: 1.08rem;
    fill: @base2 ;
    cursor: pointer;
}

.edit-icon {
    fill: @base2 ;
    position: absolute;
    left: 18.3rem;
}

