@import "~styles/colors";

.svg {
    fill: @base4 ;
    background-color: transparent;
    display: inline-block;
    border: none;
}

.delete-icon {
    padding-left: 0.2em;
    position: relative;
    top: 0.4rem;
    left: -2.6rem;
    padding-right: .3rem;
}

.doneall-icon {
    position: relative;
    top: 0.3rem;
    left: 1.1rem;
    padding-right: .3rem;
    fill: @base3;
}
.doneall-icon-all-done {
    fill: @base2;
}

.delete-all-icon, .save-icon {
    padding-left: 0.2em;
    position: absolute;
    top: 0.4rem;
    left: 18.3rem;
    padding-right: .3rem;
    fill: @base3;
}

.save-icon.deactivated {
    fill: @base2;
}

.plus-icon {
    padding-left: 0.2em;
    position: relative;
    top: 0.3rem;
    padding-right: .3rem;
    fill: @base3 ;
}

.cancel-icon {
    fill: @base3 ;
    position: absolute;
    top: .4rem;
    left: 1rem;
    margin: 0 1rem 0 1;
    margin-right: 20px;
    cursor: pointer;
    // position: relative;
    // left: -.8rem;

}

